src/flows/Transaction.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TransactionEmial</name>
        <label>TransactionEmial</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <actionName>Transaction_Entry__c.Transaction_Detail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Transaction_Decision</name>
        <label>Transaction_Decision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>TransactionEmial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Debit_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Available_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactUpdateForDebit_0</targetReference>
            </connector>
            <label>Debit_type</label>
        </rules>
        <rules>
            <name>Credit_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactAmountUpdate</targetReference>
            </connector>
            <label>Credit_type</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreditFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount__c} + {!$Record.Contact__r.Available_Balance__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>Debit_formula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Contact__r.Available_Balance__c} - {!$Record.Amount__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ContactAmountUpdate</name>
        <label>ContactAmountUpdate</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>TransactionEmial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Balance__c</field>
            <value>
                <elementReference>CreditFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>ContactUpdateForDebit_0</name>
        <label>ContactUpdateForDebit</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>TransactionEmial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Balance__c</field>
            <value>
                <elementReference>Debit_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transaction_Decision</targetReference>
        </connector>
        <object>Transaction_Entry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
